.col-sm-3{
      padding-left: 20px;
}
#head{
      background-color: #FDE68C
}
#big{
      font-size: 40pt;
      font-family: sherif;
      margin-top: 10px;
}
#small{
      font-size: 25px;
      font-family: calibri;
      font-style: italic;
      margin-left: 150px;
}
.navbar {
      margin-bottom: 0;
      background-color: #2E2F31;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
   }
.item{
	margin: auto;
}
#contact{
       background-color: #FDE68C;
       font-family: arial;
       padding-top: 10px;
}
.bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
      padding-top: 5px;    
}
.col-sm-5{
      margin-left: 10px;
}